<tr>
	<td>
  		<%= link_to user.name, user %>
  	</td>
  	<% if current_user.admin? %>
  	<td>
 		<%= link_to "Deletar", user, method: :delete, data: { confirm: "Deseja excluir?" } %>
 	</td>
  	<% end %>
</tr>